/*-------- 8. Footer style  -----*/

.copyright {
  p {
    color: #313131;
    letter-spacing: 0.9px;
    a {
      color: #313131;
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}
.footer-widget {
  .footer-title {
    h3 {
      font-size: 25px;
      font-weight: 500;
      color: #fff;
      margin: 0 0 16px;
      line-height: 1;
      font-family: 'Playfair Display';
    }
  }
  .footer-list {
    ul {
      li {
        margin: 0 0 11px;
        &:last-child {
          margin: 0 0 0px;
        }
        a {
          font-size: 16px;
          color: #fff;
          letter-spacing: 0.3px;
          font-family: 'Mulish';
          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }
  
  @media #{$xx-layout} {
    &.ml-95 {
      margin-left: 20px;
    }
    &.ml-145 {
      margin-left: 50px;
    }
  }
  @media #{$xl-layout} {
    &.ml-95 {
      margin-left: 0px;
    }
    &.ml-145 {
      margin-left: 20px;
    }
    &.ml-30 {
      margin-left: 0px;
    }
    &.ml-ntv5 {
      margin-left: -50px;
    }
  }
  @media #{$lg-layout} {
    &.ml-95 {
      margin-left: 0px;
    }
    &.ml-145 {
      margin-left: 0px;
    }
    &.ml-30 {
      margin-left: 0px;
    }
    &.ml-ntv5 {
      margin-left: 0px;
    }
  }
  @media #{$md-layout} {
    &.ml-95 {
      margin-left: 0px;
    }
    &.ml-145 {
      margin-left: 0px;
    }
    &.ml-30 {
      margin-left: 0px;
    }
    &.ml-ntv5 {
      margin-left: 0px;
    }
  }
  @media #{$xs-layout} {
    &.ml-95 {
      margin-left: 0px;
    }
    &.ml-145 {
      margin-left: 0px;
    }
    &.ml-30 {
      margin-left: 0px;
    }
    &.ml-ntv5 {
      margin-left: 0px;
    }
  }
}

.footer-widget.ml-30,
.footer-widget.ml-50,
.footer-widget.ml-75 {
  @media #{$md-layout} {
    margin-left: 0;
  }
  @media #{$xs-layout} {
    margin-left: 0;
  }
  @media #{$lg-layout} {
    margin-left: 0px;
  }
}

.footer-area {
  position: relative;
  &.ml-10 {
    margin-left: 0;
  }
  @media #{$xl-layout} {
    &.ml-70 {
      margin-left: 15px;
    }
    &.mr-70 {
      margin-right: 15px;
    }
  }
  @media #{$lg-layout} {
    &.ml-70 {
      margin-left: 30px;
    }
    &.mr-70 {
      margin-right: 30px;
    }
  }
  @media #{$md-layout} {
    &.ml-70 {
      margin-left: 40px;
    }
    &.mr-70 {
      margin-right: 40px;
    }
  }
  @media #{$xs-layout} {
    &.ml-70 {
      margin-left: 15px;
    }
    &.mr-70 {
      margin-right: 15px;
    }
  }
}