@import "../../bootstrap/scss/bootstrap.scss";
@import "./animate.scss";
@import "../../fontawesome/scss/fontawesome.scss";


$sides: (top, bottom, left, right); // Leave this variable alone
$space: 0;


@while $space <= 100 {
    @each $side in $sides {
        .m#{str-slice($side, 0, 1)}-#{$space} {
            margin-#{$side}: #{$space}px !important;
        }
        .p#{str-slice($side, 0, 1)}-#{$space} {
            padding-#{$side}: #{$space}px !important;
        }
    }
    $space: $space + 1;
}