@import "../../bootstrap/scss/bootstrap.scss";
@import "./animate.scss";
@import "../../fontawesome/scss/fontawesome.scss";
@import "./variables.scss";
@import "./footer.scss";
$sides: ( "": "", "t": "top", "b": "bottom", "l": "left", "r": "right", );
$breakpoints: ( "": "", "sm": 576px, "md": 768px, "lg": 992px, "xl": 1200px, );
//Margin paddings loops
@each $breakName,
$breakValue in $breakpoints {
    @if $breakName !="" {
        @media (min-width: $breakValue) {
            @for $i from 0 through 150 {
                @each $sideName, $sideValue in $sides {
                    $property: if($sideName=='', '', -#{$sideValue});
                    $space: $i;
                    $selector: #{$sideName}-#{$breakName}-#{$i};
                    .m#{$selector} {
                        margin#{$property}: #{$space}px;
                    }
                    .p#{$selector} {
                        padding#{$property}: #{$space}px;
                    }
                }
                .my-#{$breakName}-#{$i} {
                    margin-top: #{$i}px;
                    margin-bottom: #{$i}px;
                }
                .py-#{$breakName}-#{$i} {
                    padding-top: #{$i}px;
                    padding-bottom: #{$i}px;
                }
                .mx-#{$breakName}-#{$i} {
                    margin-left: #{$i}px;
                    margin-right: #{$i}px;
                }
                .px-#{$breakName}-#{$i} {
                    padding-left: #{$i}px;
                    padding-right: #{$i}px;
                }
            }
        }
    }
    @else {
        @for $i from 0 through 150 {
            @each $sideName,
            $sideValue in $sides {
                $selector: #{$sideName}-#{$i};
                $property: if($sideName=='', '', -#{$sideValue});
                $space: $i;
                .m#{$selector} {
                    margin#{$property}: #{$space}px;
                }
                .p#{$selector} {
                    padding#{$property}: #{$space}px;
                }
            }
            .my-#{$i} {
                margin-top: #{$i}px;
                margin-bottom: #{$i}px;
            }
            .py-#{$i} {
                padding-top: #{$i}px;
                padding-bottom: #{$i}px;
            }
            .mx-#{$i} {
                margin-left: #{$i}px;
                margin-right: #{$i}px;
            }
            .px-#{$i} {
                padding-left: #{$i}px;
                padding-right: #{$i}px;
            }
        }
    }
}

//font weight and size loops
$fontWeights: ("100": 100, "200": 200, "300": 300, "400": 400, "500": 500, "600": 600, "700": 700, "800": 800, "900": 900);
@each $breakName, $breakValue in $breakpoints {

	@if $breakName !="" {
        @media (min-width: $breakValue) {
			@each $weightName, $weightValue in $fontWeights {
				.fw-#{$breakName}-#{$weightName} {
					font-weight: #{$weightValue};
				}
			}
			@for $i from 0 through 30 {
				.fs-#{$breakName}-#{$i} {
					font-size: #{$i}px;
				}	
			}
		}
	} @else {
		@each $weightName, $weightValue in $fontWeights {
			.fw-#{$weightName} {
				font-weight: #{$weightValue};
			}
		}
		@for $i from 10 through 30 {
			.fs-#{$i} {
				font-size: #{$i}px;
			}	
		}
	}
}



img {
    width: 100%;
}

html,
body {
    height: 100%;
}

body {
    background-color: #ffffff;
    line-height: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #000;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-top: 0;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #333;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
}

h1,
.h1 {
    font-size: 36px;
    line-height: 42px;
}

h2,
.h2 {
    font-size: 30px;
    line-height: 36px;
}

h3,
.h3 {
    font-size: 24px;
    line-height: 30px;
}

h4,
.h4 {
    font-size: 18px;
    line-height: 24px;
}

h5,
.h5 {
    font-size: 14px;
    line-height: 18px;
}

h6,
.h6 {
    font-size: 12px;
    line-height: 14px;
}

p:last-child {
    margin-bottom: 0;
}

a,
button {
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

a,
button,
img,
input,
span {
    transition: all 0.3s ease 0s;
}


/*
*:focus {
  outline: none;
}
*/

a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button,
input[type=submit] {
    cursor: pointer;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}


/*-- 
    Scroll Up 
-----------------------------------------*/

.scroll-top {
    position: fixed;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    right: 20px;
    bottom: 60px;
    text-align: center;
    overflow: hidden;
    border-radius: 50px;
    z-index: 9811 !important;
    visibility: hidden;
    opacity: 0;
    &.show {
        visibility: visible;
        opacity: 1;
    }
    @media #{$xs-layout} {
        width: 40px;
        height: 40px;
    }
    & i {
        display: block;
        line-height: 50px;
        font-size: 22px;
        @media #{$xs-layout} {
            line-height: 40px;
            font-size: 16px;
        }
    }
    &:hover {
        & i {
            animation-name: fadeInUp;
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-iteration-count: infinite;
        }
    }
}

.height-100 {
    height: 100vh;
}

.retail-bg-grey {
    background-color: #f7f7f7;
}