@import "../../bootstrap/scss/bootstrap.scss";
@import "./animate.scss";
@import "../../fontawesome/scss/fontawesome.scss";
@import "./variables.scss";
@import "./support.scss";

$sides: (top, bottom, left, right); // Leave this variable alone
$space: 0;


@while $space <= 100 {
    @each $side in $sides {
        .m#{str-slice($side, 0, 1)}-#{$space} {
            margin-#{$side}: #{$space}px !important;
        }
        .p#{str-slice($side, 0, 1)}-#{$space} {
            padding-#{$side}: #{$space}px !important;
        }
    }
    $space: $space + 1;
}


img {
	width: 100%;
}

html,
body {
  height: 100%;
}

body {
  background-color: #ffffff;
  line-height: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #000;
}

h1, .h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 0;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #333;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
}

h1, .h1 {
  font-size: 36px;
  line-height: 42px;
}

h2, .h2 {
  font-size: 30px;
  line-height: 36px;
}

h3, .h3 {
  font-size: 24px;
  line-height: 30px;
}

h4, .h4 {
  font-size: 18px;
  line-height: 24px;
}

h5, .h5 {
  font-size: 14px;
  line-height: 18px;
}

h6, .h6 {
  font-size: 12px;
  line-height: 14px;
}

p:last-child {
  margin-bottom: 0;
}

a,
button {
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

a,
button,
img,
input,
span {
  transition: all 0.3s ease 0s;
}
/*
*:focus {
  outline: none !important;
}
*/

a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button,
input[type=submit] {
  cursor: pointer;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}