.support-wrap {
  display: flex;
  .support-icon {
    flex: 0 0 50px;
    margin-right: 20px;
    img {
      width: 100%;
    }
  }
  .support-content {
    h5 {
      font-size: 18px;
      margin: 0 0 5px;
    }
    p {
      color: #666;
      margin: 0;
    }
  }
  &:hover .support-icon img {
    animation: 500ms ease-in-out 0s normal none 1 running tada;
  }
}